.wrapper {
    width: 750px;
}

.main {
    background-color: white;
    height: 180px;
}
.profileName {
    margin: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}

.companyName {
    margin: 10px;
    margin-top: -10px;
    font-size: 15px;
    font-weight: 600;
    color:  #6C54DA;
    text-align: left;
    margin-bottom: 15px;
}

.locExpSal {
    display: flex;
}

.locExpSalChild {
    display: flex;
    margin-top: -5px;
    margin-bottom: 20px;
}

.footerWrapper {
    background-color: #EBEBEB;
    display: flex;
    width: 750px;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left {
    margin: 20px;
    font-size: 13px;
    color: #404040;
}
.right {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.right > button {
    margin-left: 10px;
    border: 3px solid #6C54DA;
    color: #6C54DA;
    height: 40px;
    width: 80px;
}

.right > button:hover {
    background-color: #6C54DA;
    color: white;
}

.cardDiv {
    margin: 10px;
}

span {
    color: grey
}

.description { 
    margin: 10px;
    margin-top: -10px
}